#formdiv1{
    background-color: rgb(215, 237, 218);
}


#form1btn{
    background-color:#3acf61;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#form2div1{
    margin-top: 100px;
}
.form2label{
    font-size: 20px ;
   
}

.form2{
    width: 25%;
    margin-top: 10px;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    outline: none;
    resize: none;
}
.form2article{
    margin: 15px;
}
.form2radiomr{
    margin: 10px ;
    font-size: 20px;
}
#form2btn2 {
    background: #6a64f1;
    background-image: -webkit-linear-gradient(top, #6a64f1, #6a64f1);
    background-image: -moz-linear-gradient(top, #6a64f1, #6a64f1);
    background-image: -ms-linear-gradient(top, #6a64f1, #6a64f1);
    background-image: -o-linear-gradient(top, #6a64f1, #6a64f1);
    background-image: linear-gradient(to bottom, #6a64f1, #6a64f1);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 15px 15px 15px;
    text-decoration: none;
    width: 390px;
    height: 40px;
    margin-left: 10px;
  }
  #form2btn2:hover {
    background: #6a64f1;
    background-image: -webkit-linear-gradient(top, #6a64f1, #ae5fd9);
    background-image: -moz-linear-gradient(top, #6a64f1, #ae5fd9);
    background-image: -ms-linear-gradient(top, #6a64f1, #ae5fd9);
    background-image: -o-linear-gradient(top, #6a64f1, #ae5fd9);
    background-image: linear-gradient(to bottom, #6a64f1, #ae5fd9);
    text-decoration: none;
  }
  .osman input:checked + label {
    background-color: purple;
  }

  #formdiv3{
    margin-top: 80px;
    text-align: center;
  }
  .form3label{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 165px;

  }
 .form3input{
    width:250px;
    height: 25px;
 }
 .form3label1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 355px;
 }
 .form3input1{
    width:590px;
    height: 25px;
    margin-right: 65px;
 }
 
 .labelform3datenandtime{
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 215px;

 }
 